/* IMPORTAR FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

/* CONTROL DE COLORES */
.modo-dia{
    --fondo-container: rgb(206, 206, 206);

    --fondo-nav: rgb(0, 204, 255);
    --fuente-nav: rgb(0, 0, 0);
    --fuente-seleccionada-nav: rgb(0, 0, 0);
    --sombra-nav: rgb(31, 31, 31);
    --fondo-boton-activo-nav: rgb(255, 255, 255);

    --fuente-reloj: rgb(0, 0, 0);

    --fuente-botones: black;
    --fondo-boton-hover: rgb(0, 204, 255);
    --brillo-boton-hover: rgb(86, 221, 255);
    --fuente-boton-hover: black;

    --sombra-temporizador: black;
    --fondo-temporizador: rgb(172, 172, 172);
    --fondo-intro-temporizador: rgb(255, 255, 255);
    --fondo-selector: rgb(201, 200, 200);
    --fuente-selector: rgb(0, 0, 0);
    --fuente-botones-selector: rgb(0, 0, 0);
    --fondo-botones-selector: rgb(0, 204, 255);
    --borde-selector: rgb(201, 200, 200);
}
.modo-noche{
    --fondo-container: rgb(27, 27, 27);
    
    --fondo-nav: rgb(56, 56, 56);
    --fuente-nav: rgb(207, 207, 207);
    --fuente-seleccionada-nav: rgb(255, 170, 0);
    --sombra-nav: black;
    --fondo-boton-activo-nav: black;

    --fuente-reloj: rgb(255, 187, 61);

    --fuente-botones: black;
    --fondo-boton-hover: white;
    --brillo-boton-hover: white;
    --fuente-boton-hover: black;

    --sombra-temporizador: black;
    --fondo-temporizador: rgb(59, 59, 59);
    --fondo-intro-temporizador: rgb(87, 87, 87);
    --fondo-selector: rgb(26, 26, 26);
    --fuente-selector: rgb(255, 170, 0);
    --fuente-botones-selector: rgb(0, 0, 0);
    --fondo-botones-selector: rgb(255, 170, 0);
    --borde-selector: rgb(0, 0, 0);
}

/* FORMATO INICIAL */
*{
    padding: 0;
    margin: 0;
}
#container{
    width: 100;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--fondo-container);
    transition: 0.5s;
}

/* BARRA DE NAVEGACION */
nav{
    font-family: 'Exo', sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--fuente-nav);
    background-color: var(--fondo-nav);
    box-shadow: 2px 0px 20px 1px var(--sombra-nav);
    border-radius: 0px 0px 1em 1em;
    padding: 0.2em 0;
    transition: 0.3s;
}
nav:hover{
    padding: 1em 0;
}
nav div{
    margin: 0 2em;
    cursor: pointer;
    padding: 0.5em 1em;
    transition: 0.2s;
}
.activo{
    background-color: var(--fondo-boton-activo-nav);
    color: var(--fuente-seleccionada-nav);
    cursor: default;
    border-radius: 2em;
}

/* CRONOMETRO */
#crono{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#reloj{
    font-family: 'Exo', sans-serif;
    width: 7em;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: 9em;
    margin: 0;
    padding: 0;
    color: var(--fuente-reloj);
}
#reloj div{
    width: 1.3em;
}
#milisegundos-crono{
    font-size: 0.6em;
    align-self: flex-end;
    margin-bottom: 0.22em;
}

/* TEMPORIZADOR */
#tempo{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#reloj-temporizador{
    font-family: 'Exo', sans-serif;
    width: 7em;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-size: 9em;
    margin: 0;
    padding: 0;
    color: var(--fuente-reloj);
}
#reloj-temporizador div{
    width: 1.3em;
}
/* VENTANA DONDE CONFIGURAR EL INICIO DEL TEMPORIZADOR */
#edit-temporizador{
    font-family: 'Exo', sans-serif;
    pointer-events: none;
    position: absolute;
    bottom:0%;
    width: 50%;
    height: auto;
    background-color: var(--fondo-temporizador);
    opacity:0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 1px var(--sombra-temporizador);
}
#intro-edit-temporizador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1em 0em;
    font-size: 0.8em;
    background-color: var(--fondo-intro-temporizador);
}
#intro-edit-temporizador h1{
    margin: 0em 0.5em;
}
#selectores-temporizador{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#selectores-temporizador h2{
    font-size: 1.2em;
}
#selector-horas, #selector-minutos, #selector-segundos{
    display: flex;
    flex-direction: column;
    margin: 2em 0em;
}
.contenedor-botones-selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#selector-horas div, #selector-minutos div, #selector-segundos div{
    font-size: 1.2em;
    color: var(--fuente-botones-selector);
    cursor: pointer;
    background-color: var(--fondo-botones-selector);
    padding: 0em 0.25em;
}
#selectores-temporizador select{
    background-color: var(--fondo-selector);
    width: 3em;
    color: var(--fuente-selector);
    font-size: 1.2em;
    text-align: center;
    border: 0.01em solid var(--borde-selector);
}
#botones-temporizador{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    margin: 0.5em 0;
}
/* BOTONES PARA CONTROLAR LAS ACCIONES EN EL CONTAINER */
.botones{
    font-family: 'Exo', sans-serif;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4em;
    font-size: 1.25em;
}
.botones div{
    color: var(--fuente-botones);
    padding: 0.5em 1em;
    border-radius: 0.2em;
    transition: 0.15s;
    cursor: pointer;
    margin: 0 2em;
}
.botones div:hover{
    color: var(--fuente-boton-hover);
    box-shadow: 0px 0px 20px 2px var(--brillo-boton-hover);
    background-color: var(--fondo-boton-hover);
}
.start{
    background-color: greenyellow;
}
.pause{
    background-color: yellow;
}
.reset{
    background-color: red;
}
.edit{
    background-color: rgb(59, 59, 255);
}
.init, .close{
    font-family: 'Exo', sans-serif;
    color: var(--fuente-botones);
    padding: 0.5em 1em;
    border-radius: 0.2em;
    transition: 0.15s;
    cursor: pointer;
    margin: 0 2em;
}
.init:hover, .close:hover{
    color: var(--fuente-boton-hover);
    box-shadow: 0px 0px 20px 2px var(--brillo-boton-hover);
    background-color: var(--fondo-boton-hover);
}
.init{
    background-color: greenyellow;
}
.close{
    background-color: red;
}

/* CONTROL MODO COLORES */
#modo-color{
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: default;
    margin: 0;
}
#modo-color div{
    background-color: white;
    border-radius: 100em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.25em;
    margin: 0.2em;
}
#modo-color img{
    width: 1.5em;
    cursor: pointer;
}
#modo-color #selector-modo{
    background-color: rgba(255, 255, 255, 0.452);
    width: 2.5em;
    height: 0.5em;
    position: relative;
}
#selector-modo #bola-selector{
    background-color: rgb(4, 0, 255);
    border-radius: 50em;
    width: 0.5em;
    height: 0.5em;
    position: absolute;
}
.lado-noche{
    right: 0%;    
}
.lado-dia{
    left: 0%;
}

/* RESPONSIVE */
@media (max-width: 1015px){
    body{
        font-size: 0.75em;
    }
    nav{
        font-size: 1.5em;
    }
}
@media (max-width: 769px){
    body{
        font-size: 0.55em;
    }
}
@media (max-width: 565px){
    body{
        font-size: 0.35em;
    }
    nav{
        font-size: 2.5em;
    }
}
@media (max-width: 363px){
    body{
        font-size: 0.30em;
    }
    nav{
        font-size: 3em;
    }
}